body {
    background-color: #f4b7a2;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    width: 100%;
}

.card {
    background-color: #f18658;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.card-title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    color: #fff;
    font-weight: bold;
}

.form-control {
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.btn-primary {
    background-color: #ac4c48;
    border-color: #ac4c48;
    border-radius: 0.3rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #f18658;
    border-color: #f18658;
}
